[submodule "athrill"]
	path = athrill
	url = https://github.com/toppers/athrill.git
[submodule "athrill-target-rh850f1x"]
	path = athrill-target-rh850f1x
	url = https://github.com/toppers/athrill-target-rh850f1x.git
