Source: athrill-rh850f1x
Section: unknown
Priority: optional
Maintainer: mikoto2000 <mikoto2000@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/athrill-rh850f1x.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/athrill-rh850f1x.git

Package: athrill-rh850f1x
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
